<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Mi Proyecto Personal - Maricarmen{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="icon" type="image/x-icon" href="data:image/svg+xml, </text></svg>">
</head>
<body>
    <div class="contenedor">
        {% block contenido %}
        {% endblock %}
        
        {% block navegacion %}
        <div class="botones-navegacion">
            <a href="{% url 'datos' %}" class="boton">Datos</a>
            <a href="{% url 'preferencias' %}" class="boton">Preferencias</a>
            <a href="{% url 'gustos' %}" class="boton">Gustos</a>
            <a href="{% url 'habilidades' %}" class="boton">Habilidades</a>
            <a href="{% url 'familia' %}" class="boton">Familia</a>
        </div>
        {% endblock %}
    </div>
</body>
</html>