{% extends 'base.html' %}

{% block titulo %}Mis Gustos - Maricarmen{% endblock %}

{% block contenido %}
    <h1>Mis Gustos e Intereses</h1>
    
    {% for categoria, items in mis_gustos.items %}
        <div class="seccion">
            <div class="titulo-seccion">
                {% if categoria == 'pasatiempos' %}
                    Cosas que me gusta hacer
                {% elif categoria == 'comida_favorita' %}
                    Mi comida favorita
                {% elif categoria == 'mascotas' %}
                    Mis mascotas
                {% else %}
                    {{ categoria|title }}
                {% endif %}
            </div>
            <ul class="lista">
                {% for item in items %}
                    <li class="item">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}